*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #002A33;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

/*.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


.form {
  width: 100%;
  max-width: 450px;
  margin: 3rem auto 0 auto;
  border: 1px solid $form-line-color;
  padding: 2rem 4rem;

  .form-title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    color: $form-title-color;
  }
}

.signup__field {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;

  .input-field {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $form-line-color;
    border-radius: 0;
    color: $form-input-color;
    outline: none;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0;

    &:focus {
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    &:focus ~ .label,
    &:valid ~ .label {
      top: -1.1rem;
      left: -8px;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
}

.label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    color: $form-label-color;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }
}

.signup__button button {
  background: transparent;
  color: $form-button-color;
  border: 1px solid $form-button-color;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .5em 1.8em;
  cursor: pointer;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
